################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ROBOTESTE_ILibrarySystem/bin
/ROBOTESTE_ILibrarySystem/obj
/packages
